.font {
  font-family: "Fira Sans";
}
#title {
  background-color: #ff4c68;
  color: #fff;
}
.container{
  padding: 3% 15%;

}
.font1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}
.font3 {
  font-family: "Noto Sans Display";
}
.font2 {
  font-family: "Fira Sans";
  font-size: 1.5rem;

}
.pfont{
  font-family: "Montserrat";
}
.mine{
  text-align: center;

}
.testimg {
  width: 10%;
  border-radius: 100%;
  margin: 40px;
}
p {
  color: #8f8f8f;
}
.brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav {
  padding-top: 4.5rem;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Fira Sans";
}
.downbutt {
  margin: 5% 3% 5% 0;
}
.img {
  width: 50%;
  margin-left: 10%;
  margin-bottom: 5%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}
#pricing{
  padding: 100px;
  text-align: center;
}
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.features {
  text-align: center;
  padding: 5%;
}
.emo {
  color: #ef8172;
  margin-bottom: 1rem;
}
.emo:hover {
  color: #ff4c68;
}
#testimonials {

  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.preimg {
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-item {
  padding : 7% 15%;
}
.prico {
  padding: 3% 2%;
}
#cta {
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}
.ctas {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
}
#footer {
    padding: 7% 15%;
    font-family: "Fira Sans";
    text-align: center;
}
.sicon{
  margin: 20px 10px;
}
.fp {
  font-family: "Fira Sans";
}
@media  (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .img {
    position: static;
    transform: rotate(0);
  }
